.carrinho {
    font-family: var(--fonte-texto);
    line-height: 120%;
    color: var(--cor-texto-principal);
    padding: 80px 12.5%;
}

.carrinho__titulo {
    font-family: var(--fonte-titulo);
    font-size: 39px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 32px;
}

.carrinho__aviso {
    background-color: var(--cor-texto);
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 18px 16px;
    border-radius: 8px;
    margin-bottom: 56px;
}

.carrinho__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}

.carrinho__container-detalhes,
.carrinho__container-sumario {
    background-color: var(--cor-texto);
    padding: 32px;
}

.carrinho__container-titulo {
    font-size: 25px;
    margin-bottom: 32px;
}

.carrinho__card {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1.5fr 1.5fr 1fr;
    gap: 16px;
    margin-bottom: 64px;
    height: 197px;
    align-items: center;
}

.carrinho__card:last-child {
    margin-bottom: 0;

}

.carrinho__card-preco {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.carrinho__card-coluna {
    text-align: center;
}

.carrinho__card-titulo {
    margin-bottom: 10px;
}

.carrinho__card-subtitulo {
    margin-bottom: 8px;
}

.carrinho__card-coluna-botoes {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.carrinho__card-coluna-botoes input {
    background-color: transparent;
    border: 1px solid var(--cor-texto-principal);
    border-radius: 4px;
    text-align: center;
    color: var(--cor-texto-principal);
    width: 40px;
    height: 32px;
    padding-left: 13px;
    font-family: var(--fonte-texto);
    font-size: 13px;
}

.carrinho__card-coluna select {
    background-color: transparent;
    border: 1px solid var(--cor-texto-principal);
    border-radius: 32px;
    text-align: center;
    color: var(--cor-texto-principal);
    height: 40px;
    width: 77px;
    font-family: var(--fonte-texto);
    font-size: 16px;
}

.carrinho__sumario-titulo {
    margin-bottom: 16px;
}

.carrinho_sumario-form {
    display: flex;
    margin-bottom: 32px;
}

.carrinho_sumario-form input {
    background-color: transparent;
    border: 2px solid var(--cor-texto-principal);
    border-radius: 32px;
    padding-left: 24px;
    height: 56px;
    font-family: var(--fonte-texto);
    font-size: 20px;
    color: var(--cor-texto-principal);
    width: 80%;
    margin-right: 8px;
}

.carrinho_sumario-form input::placeholder {
    color: var(--cor-texto-principal);
}

.carrinho_sumario-form button {
    background-color: var(--cor-fundo-botao);
    color: var(--cor-de-fundo);
    border: none;
    border-radius: 32px;
    font-family: var(--fonte-texto);
    font-size: 20px;
    font-weight: 700;
    height: 56px;
    width: 77px;

}

.carrinho__sumario-divisor {
    background-color: var(--cor-fundo-botao);
    border: none;
    height: 1px;
    width: 100%;
    margin-bottom: 32px;
}

.carrinho__sumario-linha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.carrinho__sumario-linha-total {
    color: var(--cor-fundo-botao);
}

.carrinho__sumario-linha-total div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.botao__continuar {
    margin: 18.5px 0 16px 0;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--cor-fundo-botao);
    border-radius: 32px;
    font-family: var(--fonte-texto);
    font-size: 22px;
    font-weight: 700;
    padding: 16px 0;
}

.botao__pagamento {
    width: 100%;
    color: var(--cor-de-fundo);
    background-color: var(--cor-fundo-botao);
    border: none;
    border-radius: 32px;
    font-family: var(--fonte-texto);
    font-size: 22px;
    font-weight: 700;
    padding: 16px 0;
}

.divisoria__card {
    display: none;
}

@media screen and (max-width: 1440px) {
    .carrinho {
        padding: 80px 60px;
    }
}

@media screen and (max-width: 1280px) {
    .carrinho__container-sumario {
        min-width: 350px;
    }

    .carrinho__card {
        grid-template-columns: repeat(3, 1fr);
        height: 170.5px;
    }

}

@media screen and (max-width: 1024px) {

    .carrinho__titulo{
        display: flex;
        align-items: center;
    }
    
    .carrinho_sumario-form input {
        width: 100%;
    }

    .carrinho__container-titulo, .botao__continuar, .botao__pagamento {
        font-size: 20px;
    }

    .carrinho_sumario-form input::placeholder {
        font-size: 16px;
    }

    .carrinho__card-texto{
        font-size: 13px;
    }
    .carrinho__titulo {
        font-size: 31px;
        text-align: left;
    }
}

@media screen and (max-width: 860px) {
    .carrinho {
        padding: 40px 24px;
    }

    .carrinho__container {
        grid-template-columns: 1fr;
    }

    .carrinho__card {
        grid-template-columns: 2fr 2fr 1fr 1.5fr 1.5fr 1fr;
        height: 170.5px;
        margin-bottom: 0;
    }

    .divisoria__card {
        background-color: #C4c4c4;
        border: none;
        height: 1px;
        display: block;
    }

    .carrinho__sumario-titulo{
        width: 388px;
        margin-left: auto;
        margin-right: auto;
    }

    .carrinho_sumario-form{
        justify-content: center;
    }
    .carrinho_sumario-form input {
        width: 303px;
    }

    .botoes__carrinho{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botao__continuar, .botao__pagamento {
        width: 280px;
    }

}

@media screen and (max-width: 768px) {
    .carrinho {
        padding: 40px 24px;
    }

    .carrinho__titulo {
        font-size: 16px;
    }

    .carrinho__card {
        grid-template-columns: repeat(3, 1fr);
        height: 240px;
    }
}

@media screen and (max-width: 560px) {
    .carrinho {
        padding: 40px 10px;
    }

    .carrinho_sumario-form input {
        width: 250px;
    }
}