:root {
    --cor-texto-principal: #0B254B;
    --cor-texto-secundario: #5E6E89;
    --cor-texto: #EFEFEF;
    --fonte-texto: "Poppins", sans-serif;
    --fonte-titulo: "Orbitron", sans-serif;

    --cor-links: #090129;

    --cor-destaque-principal: #FF55DF;
    --cor-destaque-secundario: #8FFF24;

    --cor-fundo-botao: #780BF7;

    --cor-de-fundo: #FFFFFF;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
body {
    width: 100vw;
}*/

main {
    width: 100%;
}


.material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.invisible {
    display: none;
}

.icone__voltar {
    text-decoration: none;
    color: var(--cor-texto-principal);
}

@media screen and (max-width: 1024px) {
    .material-symbols-outlined.invisible {
    display: inline-block;
    }
}